.containerr{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.containerr .card{
    position: relative;
    width: 290px;
    height: 540px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.containerr .card .content{
    padding: 10px;
    text-align: center;
    transition: 0.3s;
}


.containerr .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.containerr .card .content h3{
    font-size: 1.8em;
    color: var(--blue-dark);
    z-index: 1;
}

.containerr .card .content p{
    padding-top: 25px;
    font-size: 0.9em;
    color: var(--blue-dark);
    font-weight: 300;
}

.containerr .card .content img{
    padding-top: 0%;
    justify-content: start;
    margin-bottom: 5%;
}

.containerr .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: color 0.5s ease;
}

.containerr .card .content a:hover{
    color: var(--white);
    background-color: var(--main-color);
}